fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-dotenv

httpx

sqlalchemy

python-jose[cryptography]
passlib[bcrypt]
python-multipart

loguru

orjson
rich

pytest
pytest-asyncio

pyyaml

typing-extensions